.navMenu {
  display: flex;
  justify-content: space-around;
  width: 20em;

  align-items: center;

  font-size: 2em;
}

.link {
  text-decoration: none;
}

.iterationNumbers {
  /* margin-right: 1em; */
}