body {
    background: rgb(55, 55, 55);
    background: linear-gradient(162deg, rgb(19, 19, 19) 0%, rgb(41, 41, 41) 50%, rgb(72, 72, 72) 100%);

    

}

#main-logo {
    height: 7em;

    position: relative;
    left: 5em;
    /* top: 1.4em; */
}

/* navigation */

#main-navigation {
    display: flex;
    flex-direction: row;

    justify-content: space-around;
    
}

.main-nav-list {
    display: flex;
    justify-content: space-around;
    width: 11em;

    filter: invert(1);

    font-size: 3em;
    list-style-type: none;

    font-family: "Mohave", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

#nav-search-form {
    position: relative;
    right: 7em;
    top: 3.4em;

    justify-content: space-between;
}

.main-nav-list li:hover {
    color: rgb(73, 225, 255);
    /* filter: inherit(); */
    /* border-bottom: 3px solid rgb(233, 233, 233); */

}

/* =================================================================== */
/* sections */

.car-section-main {
    display: flex;
    flex-direction: column;

    padding-top: 2em;
    padding-bottom: 5em;
    /* margin-left: 15%; */
}

.car-section-main-title {
    font-size: 6em;
    font-family: "Mohave", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    filter: invert();
    text-align: center;
}

.car-section {
    display: flex;
}

#car1, #car3{
    align-self: center;
    position: relative;
    right: 10em;
}

#car2 {
    align-self: center;
    position: relative;
    left: 10em;
    /* align-items: flex-end; */
}

/* #car3 {
    align-self: center;
    position: relative;
    right: 20em;

} */


.car-text {
    font-size: 1.7em;

    padding: 2em;
    /* padding-top: 2em; */
    /* padding-bottom: 10em; */

    mix-blend-mode: difference;
}

.car-image {
    height: 30em;
    border-radius: 10px;

    mix-blend-mode: difference; /* делает менее контрастным, мб оставить */
}

.car-title {
    font-size: 1.7em;
    filter: invert(1);  /* для значения color у этого блока */
    /* font-family: "Eczar", serif;
    font-optical-sizing: auto;
    font-weight: 550;
    font-style: normal; */

    font-family: "Mohave", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

}

.car-description {
    font-size: 80%;
    display: inline-block;
    width: 20em;
    filter: invert(1);

    font-family: "Khula", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.car-link {
    display: flex;
    font-size: 110%;
    color: inherit;
    filter: invert(1);
    /* text-decoration: none; */

    font-family: "Khula", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* .car-button {
    width: 20em;
    height: 5em;
    border: none;
    background-color: inherit;
    justify-content: space-between;
} */

.car-button img {
    /* width: 20em; */
    height: 5em;
}

/* =================================================================== */

#nav-search-form {
    display: flex;

    height: 3em;
}

.nav-search-button {
    width: 3.6em;
    background-color: rgb(182,30,0);

    border-style: none;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.loupe-btn-img {
    width: 2em;
    height: 2em;

    filter: invert();
    /* border-style: none; */

    /* fill: white; */
}

.nav-search-inp {
    /* width: 17em; */
    font-size: 1.6em;
    font-family: "Khula", sans-serif;
    font-weight: 400;
    font-style: normal;

    padding-left: 0.6em;

    border-style: none;
    outline:none;

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.main-page-cars-link:hover {
    color: red;
}

/* =================================================================== */

/* main-page-search */

.main-page-search {
    display: flex;
    /* flex-direction: column; */

    justify-content: space-between;
    margin: auto;

    width: 60em;

    
}

.main-page-search label, legend {
    filter: invert();

    font-family: "Khula", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5em;
}

.search-form-title {
    filter: invert();

    font-family: "Mohave", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2.2em;

}

.search-cars-form {
    /* border: 1px solid white; */
    width: min;

    box-sizing: border-box;
    padding: 50px;
}

.search-event-form {
    /* border: 1px solid white; */
    width: min;

    box-sizing: border-box;
    padding: 50px;
}


/* #engine-power-range::-webkit-slider-runnable-track {
    background-color: lightgray;
    width: 100px;
    height: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(234, 234, 234);
} */

fieldset {
    border: ;
    border-radius: 4px;
}


input[type="range"] {
    -webkit-appearance: none;
    width: 40%;
    height: 10px;
    border-radius: 10px;
    /* background: linear-gradient(to right, red 0%, red 50%, blue 50%, blue 100%) */
}

input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(233, 0, 0);
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background-color: rgb(196, 33, 0)
}

