.all-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-gap: 10px;

  grid-template-areas:
    "table table ."
    "cars forms ."
    "cars forms ."
    "cars forms .";
}

.table-container {
  grid-area: table;
}

.forms-area {
  grid-area: forms;
}

.car-section-main {
  display: grid;
  grid-area: cars;
  align-items: start;
  height: auto;
  grid-gap: 40px;
}

.car-section {
  justify-self: center;
  width: 50%;
  max-height: 100%;
  overflow: hidden;
}

.car-image {
  width: 100%;
  border-radius: 10px;
}

.car-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#main-navigation {
  position: fixed;
  height: 100%;
  width: 32.2%;

  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  justify-items: center;

}

#main-logo {
  width: 20em;
}

.main-page-search {
  display: flex;
  flex-direction: column;
}