.all-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 15em auto auto auto; */
    grid-gap: 10px;

    grid-template-areas:
        "table table ."
        "cars forms ."
        "cars forms ."
        "cars forms .";
}

.table-container {
    grid-area: table;
    border: 2px solid red;
}

.forms-area {
    grid-area: forms;
    border: 2px solid pink;
}

#main-navigation {
    border: 2px solid yellow;

    position: fixed;
    right: 0;
    top: 0;

    height: 100%;
    width: 32.7%;
}

.car-section-main {
    display: grid;
    grid-area: cars;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 40px;
}

.car-section {
    border: 2px solid greenyellow;
}

/* .car1 {
    grid-area: car1;
}

.car2 {
    grid-area: car2;
}

.car3 {
    grid-area: car3;
} */


.main-nav-list {
    font-size: 3em;
    font-family: "Mohave", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    list-style-type: none;
}

#nav-search-form {
    position: relative;
    top: 3.4em;
    justify-content: space-between;
}

.main-nav-list li:hover {
    color: rgb(182,30,0);
}

#main-logo {
    height: 7em;
}

.car-image {
    width: 15em;
    border-radius: 10px;
    mix-blend-mode: difference;
}

.car-text {
    font-size: 1.2em;
}

.car-title {
    font-size: 1em;
    font-family: "Mohave", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.car-description {
    display: inline-block;
    width: 20em;

    font-size: 0.8em;
    font-family: "Khula", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.car-link {
    display: flex;
    color: inherit;
    font-family: "Khula", sans-serif;
    font-weight: 500;
    font-style: normal;
}