.all-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: auto auto auto; */
  /* grid-gap: 10px; */

  grid-template-areas:
    "header header header"
    "table table table"
    "cars cars cars"
    "forms forms forms";
}

.table-container {
  grid-area: table;
  width: 100%;
}

.forms-area {
  grid-area: forms;
  /* display: flex; */

  @media (max-width: 800px) {
    .main-page-search {
      display: flex;
      flex-direction: column;
      align-items: center;

      font-size: 60%;
    }

    .feedback-form {
      margin-top: 10%;
      font-size: 55%;
    }
  }

  @media (max-width: 480px) {
    .main-page-search {
      padding: 0 10px;
    }

    .main-search-input {
      width: 100%;
    }

    .search-btn {
      width: 100%;
    }

    .feedback-form {
      margin-top: 20px;
    }
  }
}

.nav-container {
  grid-area: header;

  position: sticky;
  top: 0;
  width: 100%;

  background-color: rgb(158, 26, 0);
}

#main-navigation {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 5em auto;

  justify-items: center;
  align-items: center;

  @media (max-width: 800px) {
    grid-template-rows: 4em auto;
  }

  @media (max-width: 480px) {
    grid-template-rows: 2em auto;
  }
}

#main-logo {
  height: 100%;

  grid-column: 1/2;
  grid-row: 1/2;

  @media (max-width: 800px) {
    height: 3em;
  }

  @media (max-width: 480px) {
    height: 2em;
  }
}

#nav-search-form {
  margin-bottom: 2%;
  @media (max-width: 800px) {
    height: 1.5em;
  }

  @media (max-width: 480px) {
    height: 0.8em;
  }
}

.nav-search-inp {
  width: 20em;

  @media (max-width: 800px) {
    width: 15em;
  }

  @media (max-width: 480px) {
    width: 8em;
  }
}

.nav-search-button {
  @media (max-width: 800px) {
    width: 3.6em;
  }

  @media (max-width: 480px) {
    width: 1em;
  }
}

.loupe-btn-img {
  @media (max-width: 800px) {
    width: 1.5em;
  }

  @media (max-width: 480px) {
    width: 1em;
  }
}

.search-container {
  grid-column: 1/3;
  grid-row: 2/3;

  /* justify-self: center; */
}

.main-nav-list {
  font-size: 2.6em;

  display: flex;
  justify-content: space-around;
  width: 11em;

  grid-column: 2/3;
  grid-row: 1/2;

  @media (max-width: 800px) {
    font-size: 1.8em;
    width: 9em;
  }

  @media (max-width: 480px) {
    font-size: 1em;
    width: 8em;
  }
}

/* ================================================== */
.car-section-main {
  display: grid;
  grid-area: cars;

  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.car-section {
  /* width: 28%; */
  overflow: hidden;
}

.car-image {
  width: 100%;
  border-radius: 10px;
}

.car-text {
  font-size: 1.4em;
  width: 100%;
  padding: 4%;

  @media (max-width: 800px) {
    font-size: 1em;
  }

  @media (max-width: 480px) {
    font-size: 0.6em;
  }
}

.car-title {
  font-size: 1em;
  font-family: "Mohave", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.car-description {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.car-link {
  font-size: 0.9em;
}

.table-title {
  font-size: 1.6em;

  @media (max-width: 800px) {
    font-size: 1.2em;
  }

  @media (max-width: 480px) {
    font-size: 0.8em;
  }
}

.table-line {
  font-size: 1em;

  @media (max-width: 800px) {
    font-size: 0.8em;
  }

  @media (max-width: 480px) {
    font-size: 0.6em;
  }
}

/* .feedback-btn {
  animation-name: red-to-blue;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
} */

/* @keyframes red-to-blue {
  from {
    background-color: rgb(182, 30, 0);
  }
  50% {
    background-color: #7f6edb;
  }
  to {
    background-color: #2e9aff;
  }
} */


/* animations */

