.all-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;

    grid-template-areas:
        "header header header"
        "table table table"
        "cars cars cars"
        "forms forms forms";

        /* background-color: black; */
}

.table-container {
    grid-area: table;
    width: 100%;
    border: 2px solid red;
}

.forms-area {
    grid-area: forms;
    border: 2px solid pink;
}

.nav-container {
    grid-area: header;
}

#main-navigation {
    /* grid-area: header; */
    /* border: 2px solid yellow; */

    position: sticky;
    top: 0;

    background-color: black;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    border-bottom: 2px solid white;
}

.main-nav-list {
    font-size: 3em;
    font-family: "Mohave", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    list-style-type: none;
    color: white;

    display: flex;
    justify-content: space-around;
    width: 11em;
}
.main-nav-list li:hover {
    color: rgb(182,30,0);
}

.car-section-main {
    /* display: grid;
    grid-area: cars;

    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px; */

    grid-area: cars;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.car-section {
    width: calc(33.33% - 40px); /* Учитывая grid-gap: 40px */
}

#main-logo {
    height: 7em;
}

.car-image {
    width: 100%;
    border-radius: 10px;
}

.car-text {
    font-size: 1.2em;
    width: 100%;
    padding: 4%;
}

.car-title {
    font-size: 1em;
    font-family: "Mohave", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.car-description {
    font-size: 0.8em;
    font-family: "Khula", sans-serif;
    font-weight: 400;
    font-style: normal;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.car-link {
    display: flex;
    color: inherit;
    font-family: "Khula", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 0.9em;
}

.table-container {
    display: flex;
    justify-content: center;
}

#main-page-table {
    color: white;
    display: flex;
}

#main-page-table th, td {
    width: 10em;
}

#main-page-table td {
    border-bottom:1px solid white;
}

.table-title {
    font-size: 1.6em;
}

.table-line {
    font-size: 1em;
}