body {
  background: rgb(55, 55, 55);
  background: linear-gradient(
    162deg,
    rgb(19, 19, 19) 0%,
    rgb(41, 41, 41) 50%,
    rgb(72, 72, 72) 100%
  );

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* navigation */

.main-nav-list {
  color: white;

  font-size: 3em;
  list-style-type: none;

  font-family: "Mohave", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.main-nav-list li:hover {
  color: rgb(182, 30, 0);
}

/* =================================================================== */
/* sections */

.main-page-title {
  font-family: "Mohave", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: white;
}

.car-text {
  /* padding: 2em; */
  color: white;
}

.car-image {
  border-radius: 10px;
  /* mix-blend-mode: difference; */
}

.car-title {
  font-family: "Mohave", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.car-description {
  font-size: 80%;
  display: inline-block;
  width: 18em;

  font-family: "Khula", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.car-link {
  display: flex;
  font-size: 100%;
  color: inherit;
  font-family: "Khula", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* =================================================================== */

#nav-search-form {
  display: inline-flex;
}

.nav-search-button {
  /* width: 3.6em; */
  background-color: rgb(182, 30, 0);

  border-style: none;

  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.loupe-btn-img {
  filter: invert();
}

.nav-search-inp {
  font-size: 1.6em;
  font-family: "Khula", sans-serif;
  font-weight: 400;
  font-style: normal;

  padding-left: 0.6em;

  border-style: none;
  outline: none;

  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.main-page-cars-link:hover {
  color: red;
}

/* =================================================================== */

/* main-page-search */

.main-page-search {
  display: flex;

  justify-content: space-between;
  margin: auto;
}

.main-page-search label,
legend {
  color: white;

  font-family: "Khula", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main-page-search legend {
  font-size: 1.5em;
}
.main-page-search label {
  font-size: 1.3em;
}

.search-form-title {
  color: white;

  font-family: "Mohave", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 2.2em;
}

#engine-power-range::-webkit-slider-runnable-track {
  background-color: rgb(243, 243, 243);
  height: 0.88em;
  border-radius: 7px;
  box-shadow: 0 0 5px rgb(234, 234, 234);
}

fieldset {
  border-radius: 4px;
  margin-bottom: 2%;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  background-color: rgb(233, 0, 0);
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: -0.266em;
}

input[type="range"]::-webkit-slider-thumb:hover {
  background-color: rgb(196, 33, 0);
}

.search-btn {
  width: 100%;
  margin-top: 5%;
  border-radius: 5px;

  background-color: rgb(182, 30, 0);
  color: rgb(239, 239, 239);
  border-style: none;

  font-family: "Khula", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5em;
}

.search-btn:hover {
  animation: red-to-black 4s infinite alternate;
}

.main-search-input {
  font-size: 1.2em;
  font-family: "Khula", sans-serif;
  font-weight: 400;
  font-style: normal;

  padding-left: 1em;

  border-radius: 7px;
  border-style: none;
  outline: none;
}

/* table */

#main-page-table {
  color: white;
  display: flex;
}

#main-page-table th,
td {
  width: 100em;
}

#main-page-table td {
  border-bottom: 1px solid white;
}

.table-title {
  font-size: 1.8em;
  font-family: "Mohave", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  border: 1px solid white;

  background-color: rgb(182, 30, 0);
}

.table-line {
  font-size: 1.2em;
  font-family: "Khula", sans-serif;
  font-weight: 400;
  font-style: normal;
  border: 1px solid white;
}

.feedback-form label {
  font-size: 1.8em;
  font-family: "Mohave", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: white;

  display: block;
  margin: 0 auto;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

#feedback-text {
  font-size: 1.2em;
  font-family: "Khula", sans-serif;
  font-weight: 400;
  font-style: normal;

  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  padding: 10px 15px;

  height: 20vh;
}

.feedback-btn {
  font-family: "Khula", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5em;

  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;

  background-color: rgb(182, 30, 0);
  color: rgb(239, 239, 239);
  border-style: none;
}

.feedback-btn:hover {
  animation: red-to-black 4s infinite alternate;
}
